.form__header {
    width: 100%;
    padding: 20px 0 0 0;
    background-color: #ffffff;
    border-bottom: #5F5F5F 2px solid;
    margin-bottom: 20px;
}

.form__header-link {
    width: 90%;
    font-size: clamp(18px, 3vw, 24px);
    font-weight: bold;
    margin: 0 auto;
    display: flex;
    gap: clamp(20px, 5vw, 50px);
    padding: 0 clamp(10px, 5vw, 50px);
    color: #5F5F5F;
}

.product__heading-btn {
    text-decoration: none;
    color: inherit;
    padding-bottom: 15px;
    transition: 0.3s;
}

.product__heading-btn.active {
    color: #FF0000;
    border-bottom: 4px solid #FF0000;
    margin-bottom: -2px;
}

.form__content {
    width: 100%;
    padding: 20px 0;
}

.product-form__group {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-form__item {
    flex: 0 1 calc((100% - (20px * 3)) / 4);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    border-radius: 4px;
    overflow: hidden;
    transition: transform 0.2s;
}

.product-form__item:hover {
    transform: translateY(-5px);
}

.product-image-container {
    position: relative;
    width: 100%;
}

.product-image-container img {
    width: 100%;
    display: block;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.sold-label {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: #ff4b4b;
    color: white;
    padding: 4px 0;
    font-weight: bold;
    font-size: clamp(14px, 2vw, 18px);
    z-index: 5;
}

.product-form__item:has(.sold-label) img {
    filter: brightness(70%);
}

.product-form__item-list {
    padding: 15px;
}

.product-form__item-list h4 {
    margin: 0;
    font-weight: 500;
    font-size: clamp(14px, 2vw, 18px);
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-form__item-list p {
    margin: 5px 0 0 0;
    font-size: clamp(12px, 1.5vw, 16px);
    color: #666;
}
@media screen and (max-width: 1024px) {
    .product-form__item {
        flex: 0 1 calc((100% - (20px * 2)) / 3);
    }
}


@media screen and (max-width: 650px) {
    .product-form__group {
        gap: 15px;
    }

    .product-form__item {
        flex: 0 1 calc((100% - 15px) / 2);
    }

    .product-form__item-list {
        padding: 10px;
    }
}


@media screen and (max-width: 350px) {
    .product-form__item {
        flex: 0 1 100%;
    }
}