.form__header{
    width: 100%;
    padding: 20px 0 0 0;
    background-color: #ffffff;
    border-bottom: #5F5F5F 2px solid;
    margin-bottom: 20px;
}


.form__header-link{
    width: 90%;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    padding: 0 50px;
    color: #5F5F5F;
}

.product__heading-btn.active {
    color: #FF0000;
}

.product-form__group {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-form__item {
    width: calc((100% - (20px * 3)) / 4);
    box-shadow: 0px 4px 4px 0px #00000040 25%;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.product-image-container {
    position: relative;
    width: 100%;
}

.product-image-container img {
    width: 100%;
    display: block;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.sold-label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff4b4b;
    color: white;
    padding: 4px 12px;
    font-weight: bold;
    font-size: 14px;
    z-index: 5;
}

.product-form__item:has(.sold-label) img {
    filter: brightness(70%);
}

.product-form__item-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-size: 18px;
}

.product-form__item-list h4 {
    margin: 0;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
